.img-hero{
    height: 300px;
}

.costume-flex{
    display: flex;
}

.costume{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px solid rgb(33, 5, 59);
    padding: 15px 15px;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: auto;
    background: linear-gradient(90deg, #1714dc6c, rgba(147, 33, 175, 0.452), rgba(29, 99, 190, 0.432));
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
}

@media screen and (max-width: 767px) {

.costume-flex{
    flex-wrap: wrap;
}

.img-hero{
    height: 100px;
}

.costume{
    display: flex;
}

.ecrit{
    font-size: small;
}

}