* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MODIFICATION LOGO */
nav .logo {
    width: 250px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;


}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;

    }

}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;

    }

}

/* styles pour ordinateur */
@media screen and (min-width: 1024px) {
    .content h1 {
        font-size: 5.5em;
        /* 35% de la taille de police globale */
    }

    .content p {
        font-size: 1.2em;
        /* 12% de la taille de police globale */
    }

    nav ul li a {
        font-size: none;
        /*20% de la taille de police globale */
    }

    .content a {
        font-size: 1.5em;
        /* 15% de la taille de police globale */
    }

    .grid-container {
        grid-template-columns: 1fr; /* une seule colonne pour les écrans plus petits */
        grid-template-rows:  minmax(1080px, 1fr)); /* utiliser minmax pour que les cellules de la grille ne dépassent pas une certaine hauteur */
      }
    }


/* styles pour tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content h1 {
        font-size: 2.5em;
        /* 25% de la taille de police globale */
    }

    .content p {
        font-size: 1em;
        /* 10% de la taille de police globale */
    }

    nav ul li a {
        font-size: none;
        /* 15% de la taille de police globale */
    }

    .content a {
        font-size: 1.2em;
        /* 12% de la taille de police globale */
    }

    .grid-container {
        grid-template-columns: 1fr; /* une seule colonne pour les écrans plus petits */
        grid-template-rows:  minmax(768px, 2fr)); /* utiliser minmax pour que les cellules de la grille ne dépassent pas une certaine hauteur */
      }
    }


/* styles pour smartphone */
@media screen and (max-width: 767px) {
    .content h1 {
        font-size: 2em;
        /* 20% de la taille de police globale */
    }

    .content p {
        font-size: 0.8em;
        /* 8% de la taille de police globale */
    }

   nav ul li a {
        font-size: 0.6em;
        /* 12% de la taille de police globale */
    }

    .content a {
        font-size: 1.2em;
        /* 10% de la taille de police globale */
    }
    
    nav .logo {
    width: 150px;

}
}

    .grid-container {
        grid-template-columns: 1fr; /* une seule colonne pour les écrans plus petits */
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); /* utiliser minmax pour que les cellules de la grille ne dépassent pas une certaine hauteur */
      }
    


.container2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.videos {
    display: flex;
   
    justify-content: center;
}

.videos iframe {
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    position: absolute;
    top: 200px; /* pour qu'elles soient en dessous du menu */
    left: 0;
    right: 0;
    overflow-y: scroll; /* pour permettre de faire défiler les vidéos vers le bas */
    height: calc(100% - 200px); /* pour que les vidéos remplissent le reste de la hauteur du conteneur */
}

.grid-container iframe {
    width: 100%; /* pour que la vidéo remplisse la cellule */
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    position: relative;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
}

nav li:hover > ul {
    display: block;
}

nav ul ul li {
    float: none;
    width: 200px;
}

nav ul ul a {
    padding: 10px;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  
  @media (min-width: 768px){}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  
  footer h3 {
    color: #00c9ff; /* bleu turquoise */
  }
  
  footer ul {
    color: #8a44e0; /* mauve */
  }
  
  footer a {
    color: #ff0000; /* rouge */
  }
  
  footer .copyright {
    color: #8a44e0; /* mauve */
  }


   .slideshow {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.slideshow img {
  max-width: 18%;
  height: auto;
  margin-right: 20px;

    }
    
    
 


